/*============    ШРИФТЫ    ===========*/
@font-face {
  font-family: "BentonSans";
  src: url("../fonts/BentonSans Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SAPRegular';
  src: url('../fonts/BentonSansRegular.eot');
  src: url('../fonts/BentonSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BentonSansRegular.woff2') format('woff2'), url('../fonts/BentonSansRegular.woff') format('woff'), url('../fonts/BentonSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: "SAPRegular";
  color: #352d2b;
  font-weight: bold;
}
.medium {
  font-family: "SAPRegular";
  color: #352d2b;
  font-weight: medium;
}
.light {
  font-family: "SAPRegular";
  color: #352d2b;
  font-weight: light;
}
/*============    Основа    ===========*/
* {
  box-sizing: border-box;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aac5e0+0,e7ecf0+100 */
  background: #aac5e0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #aac5e0 0%, #e7ecf0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #aac5e0 0%, #e7ecf0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aac5e0 0%, #e7ecf0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac5e0', endColorstr='#e7ecf0', GradientType=0);
  /* IE6-9 */
  background-repeat: no-repeat;
  font-family: "SAPRegular";
  font-size: 12px;
  color: #352d2b;
  margin: 0;
  -webkit-font-smoothing: antialised;
  -webkit-overflow-scrolling: touch;
}
body:before {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #417ead;
}
body .container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  min-height: 100vh;
}
body .container aside {
  min-width: 30%;
  background: #ffffff;
  border-top: 4px solid #417ead;
  border-right: 2px solid #e9e5e2;
  position: relative;
}
body .container aside header {
  border-bottom: 2px solid #e9e5e2;
}
body .container aside header .top {
  position: relative;
  padding: 0 5px;
}
body .container aside header .top .fa-chevron-left {
  position: absolute;
}
body .container aside header p {
  text-align: center;
}
body .container aside header .search {
  position: relative;
  padding: 0 5px 2px 5px;
}
body .container aside header .search input {
  width: 100%;
  padding: 0 50px 0 5px;
}
body .container aside header .search .fa {
  position: absolute;
  top: 4px;
}
body .container aside header .search .fa-search {
  right: 35px;
}
body .container aside header .search .fa-refresh {
  right: 15px;
}
body .container aside .order-list {
  overflow-y: auto;
  position: absolute;
  top: 60px;
  bottom: 40px;
  width: 100%;
}
body .container aside .order-list::-webkit-scrollbar {
  width: 12px;
}
body .container aside .order-list::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}
body .container aside .order-list .order {
  border-bottom: 1px solid #e9e5e2;
  padding: 10px 10px 0 10px;
}
body .container aside .order-list .order .order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container aside .order-list .order .order-top .order-number {
  margin: 0;
  font-size: 16px;
}
body .container aside .order-list .order .order-top .order-date {
  margin: 0;
  font-size: 18px;
}
body .container aside .order-list .order .order-bottom {
  display: flex;
  justify-content: space-between;
}
body .container aside .order-list .order .order-bottom .order-info {
  position: relative;
}
body .container aside .order-list .order .order-bottom .order-in-time {
  color: #2d722f;
}
body .container aside .order-list .order .order-bottom .order-urgent {
  color: #e58650;
}
body .container aside .order-list .order .order-bottom .order-status {
  position: relative;
}
body .container aside .order-list .active {
  background: #e8eff7;
}
body .container aside footer .fa {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
}
body .container aside footer .fa-filter {
  right: 45px;
}
body .container aside footer .fa-bars {
  right: 15px;
}
body .container main {
  min-width: 70%;
  background: #ffffff;
  position: relative;
  padding-bottom: 40px;
  border-top: 4px solid #417ead;
}
body .container main header {
  background: #eff4f8;
}
body .container main header p {
  margin: 0;
  padding: 12px 0;
  text-align: center;
}
body .container main .order-view {
  padding: 10px 10px 0 10px;
  background: #eff4f8;
}
body .container main .order-view .order-headline {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}
body .container main .order-view .order-headline p {
  margin: 0 0;
}
body .container main .order-view .order-headline .order-head-number {
  font-weight: bold;
  font-size: 16px;
}
body .container main .order-view .order-headline .order-head-cost {
  font-size: 16px;
}
body .container main .order-view .order-headline .order-head-cost .order-currency {
  font-size: 12px;
  text-align: right;
}
body .container main .order-view .order-specification {
  padding: 0 15px;
}
body .container main .order-view .order-icons {
  padding: 15px 15px 0 15px;
  display: flex;
  position: relative;
  border-collapse: collapse;
}
body .container main .order-view .order-icons .order-icon-wrap {
  margin-right: 40px;
  margin-bottom: -2px;
  width: 50px;
  height: 70px;
}
body .container main .order-view .order-icons .order-icon-wrap .order-icon-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #eff4f8;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100%;
  border: 1px solid #417ead;
  color: #417ead;
}
body .container main .order-view .order-icons .active {
  background: #eff4f8;
  border-bottom: 1px solid #417ead;
}
body .container main .order-view .order-icons .active .order-icon-circle {
  background: #417ead;
  color: #ffffff;
}
body .container main .order-address {
  border-bottom: 4px solid #e9e5e2;
  padding: 10px 10px;
}
body .container main .order-address .order-shipping-address {
  border-bottom: 2px solid #e9e5e2;
}
body .container main .order-address .order-shipping-address p {
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
body .container main .order-address .order-items {
  display: flex;
  padding: 15px 0;
}
body .container main .order-address .order-items .order-designation {
  margin: 0 5px 0 100px;
}
body .container main .order-address .order-items .order-designation p {
  text-align: right;
  margin: 3px 0;
}
body .container main .order-address .order-items .order-signification {
  justify-content: flex-start;
  margin: 0 5px;
}
body .container main .order-address .order-items .order-signification p {
  margin: 3px 0;
}
body .container main .borderbottom {
  border-bottom: 2px solid #e9e5e2;
}
body .container main .order-line-items {
  padding: 10px 10px;
  background: #fafafa;
}
body .container main .order-line-items .order-line-items-name p {
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
body .container main .order-line-items .order-table {
  margin: 0 5px 5px 5px;
}
body .container main .order-line-items .order-table .table-head {
  border-top: 1px solid #e9e5e2;
  padding: 5px 0;
  height: 36px !important;
  background: #eee !important;
}
body .container main .order-line-items .order-table .table-line {
  display: flex;
  border-bottom: 1px solid #e9e5e2;
  height: 50px;
  background: #ffffff;
}
body .container main .order-line-items .order-table .table-line .columns {
  position: relative;
  width: 25%;
  padding: 5px 10px;
}
body .container main .order-line-items .order-table .table-line .columns p {
  margin: 0;
}
body .container main .order-line-items .order-table .table-line .column-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container main .order-line-items .order-table .table-line .column-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .container main footer .fa-envelope-o {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 10px;
  display: flex;
  justify-content: flex-end;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #2f3b47;
  height: 40px;
}
